@font-face
  font-family: 'SAOUI'
  src: url('https://npm.elemecdn.com/akilar-candyassets/fonts/SAOUI.ttf')
  font-display: swap
a.social-icon
  svg.icon
    width: 27px
    height: 27px
.card-widget.card-info
  padding: 0!important
  margin-bottom: 20px;
  font-family: 'SAOUI','ZhuZiAYuanJWD'
  .player_description
    font-size: 20px;
  .card-info-social-icons.is-center
    // 样式错位修复关键帧
    height: 50%;
    .social-icon
      font-size: 18px!important;
  #card-info-btn
    width 90% !important
    font-size 20px !important
    margin 10px 5% !important
  .player-avatar
    display: inline-block;
    width: 150px
    height: 150px
    img
      max-width: 100%
  .play-bottom
    font-size: 20px;
    background: rgba(240, 240, 238,0.9);
    // 样式错位修复关键帧
    height: 40px;
    color rgba(60, 60, 61,0.7)
    text-shadow 1px 1px 1px #888888
    box-shadow: 2px -2px 10px #888888
  .player-lv,
  .player-title
    font-size: 20px;
    background: rgba(240, 240, 238,0.9);
    height: 40px;
    color rgba(60, 60, 61,0.7)
    text-shadow 1px 1px 1px #888888
    box-shadow: 2px 2px 10px #888888
  .player-name
    font-size: 30px
    height: 30px
    color rgba(60, 60, 61,0.7)
    text-shadow 1px 1px 1px #888888
  .attributes-value
    display: block;
    font-size: 20px
    height: auto
    text-align: left
    // 样式错位修复关键帧
    margin: 5% 5%
    a
      color rgba(60, 60, 61,0.7)
      text-shadow 1px 1px 1px #888888
      &:hover
        color: rgba(237, 166, 12,0.8)
    .attributes-value-item
      display: block
      height: 27px
      .attributes
        display: inline-block
        width: 20%
      .value-bar
        display: inline-block
        width: 50%
        background: rgba(255, 255, 255, 0.8);
        height: 12px
        margin: 0 3%
        border-radius: 5px
        box-shadow 2px 2px 3px #fff
        border 1px solid rgba(255,255,255,0.5)
        overflow: hidden
        .value-bar-fill
          height: 10px
          margin: 1px 0;
          .value-bar-fill-in
            height: 12px
      span
        font-size: 14px
  .container
    -webkit-transform-style preserve-3d
    transform-style preserve-3d
    -webkit-perspective 1000px
    perspective 1000px
    min-height 200px
    width 100%
    height 50%
    .back
      -webkit-transform rotateY(180deg)
      transform rotateY(180deg)
      -webkit-transform-style preserve-3d
      transform-style preserve-3d
    .front
      -webkit-transform rotateY(0deg)
      transform rotateY(0deg)
      -webkit-transform-style preserve-3d
      transform-style preserve-3d
    &:hover
      .back
        -webkit-transform rotateY(0deg)
        transform rotateY(0deg)
        -webkit-transform-style preserve-3d
        transform-style preserve-3d
      .front
        -webkit-transform rotateY(-180deg)
        transform rotateY(-180deg)
        -webkit-transform-style preserve-3d
        transform-style preserve-3d

  .front,
  .back
    -webkit-transition -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    transition -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    -o-transition transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    transition transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    transition transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    -webkit-backface-visibility hidden
    backface-visibility hidden
    text-align center
    min-height 200px
    width 100%
    height 50%
    font-size 1.5rem

  .back

    position absolute
    top 0
    left 0
    width 100%

  .front
    &:after
      min-height 200px
      width 100%
      height 50%
      position absolute
      top 0
      left 0
      z-index 1
      width 100%
      height 100%
      content ''
      display block
      opacity .6
      -webkit-backface-visibility hidden
      backface-visibility hidden
  .container:hover .front,
  .container:hover .back
    min-height 200px
    width 100%
    height 50%
    -webkit-transition -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    transition -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    -o-transition transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    transition transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)
    transition transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1)

  .inner
    background: rgb(220, 220, 221)
    min-height 200px
    height 50%
    -webkit-transform translateY(-50%) translateZ(60px) scale(0.94)
    transform translateY(-50%) translateZ(60px) scale(0.94)
    top 50%
    position absolute
    left 0
    width 100%
    padding 0
    -webkit-box-sizing border-box
    box-sizing border-box
    outline 1px solid transparent
    -webkit-perspective inherit
    perspective inherit
    z-index 2
  .col
    width 100%
// 夜间模式适配
[data-theme="dark"]
  .card-widget.card-info
    .play-bottom
      background: rgba(25, 25, 21,0.9);
      color rgba(215, 215, 215,0.7)
      text-shadow 1px 1px 1px rgba(38, 230, 242, 0.5)
      box-shadow: 2px -2px 10px rgba(38, 230, 242, 0.5)
    .player-lv,
    .player-title
      background: rgba(25, 25, 21,0.9);
      color rgba(215, 215, 215,0.7)
      text-shadow 1px 1px 1px rgba(38, 230, 242, 0.5)
      box-shadow: 2px 2px 10px rgba(38, 230, 242, 0.5)
    .player-name
      color rgba(215, 215, 215,0.7)
      text-shadow 1px 1px 1px rgba(38, 230, 242, 0.5)
    .attributes-value
      a
        color rgba(215, 215, 215,0.7)
        text-shadow 1px 1px 1px rgba(38, 230, 242, 0.5)
        &:hover
          color: rgb(237, 166, 12)
      .attributes-value-item
        .value-bar
          background: rgba(25, 25, 21,0.9);
          box-shadow 2px 2px 3px rgba(38, 230, 242, 0.5)
          border 1px solid rgba(25, 25, 21,0.9)
    .inner
      background: rgba(25, 25, 21,0.9)
